<div class="location-<%= location.id %>" data-location-id='<%= location.id %>'>
  <iframe width="600" height="450" frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?q=<%= location.latitude %>,<%= location.longitude %>&key=<%=ENV["GOOGLE_MAP_KEY"]%>" allowfullscreen></iframe>
  <br><br>
  <% secrets.each do |secret| %>
      <h1><%= secret.sentence %></h1>
      <p> by <%= secret.user.name %> </p>
      <!-- <p> Likes: secret.likes %> </p>
       button_to "Like", :method => 'PUT', :action => 'likes', :secret_id => secret.id -->
  <% end %>
  <div class="secrets"></div>
  <%= insert_a_new_secret_option(@secret, location) %> <br>
  <hr>
</div>


<script type="text/javascript">
    $('body').on('submit','.new_secret', function(event) {
        //prevent form from submitting the default way
        event.preventDefault()

        let values = $(this).serialize()

        let posting = $.post('/secrets.json', values)

        posting.done(function(secret) {
          const newSecret = new Secret(secret['secret'])
          let html = newSecret.formatSecretAtLocation()
          $(`.secrets`).append(html)
        }).fail(function(error){
          $('.secret_sentence').attr('placeholder', error.responseJSON.sentence[0]).css('border', '0.125rem solid red')
        })
        event.stopImmediatePropagation();
    })
</script>
