<div class="main">
  <h1><%= secret.sentence %></h1>
  <p> by <%= secret.user.name %> </p>
</div>

<iframe width="600" height="450" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?q=<%= secret.location.latitude %>,<%= secret.location.longitude %>&key=AIzaSyD_synucWlaMXTntufNH69zwfBjKMaTzT8" allowfullscreen></iframe>
<br>

<%= have_access_to_secrets?(secret) %>
<hr>
