<div class="location-<%= secret.location.id %>" data-location-id='<%= secret.location.id %>'>
  <div class="secrets">
    <h1><%= secret.sentence %></h1>
    <p> by <%= secret.user.name %> </p>
  </div>

  <iframe width="600" height="450" frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?q=<%= secret.location.latitude %>,<%= secret.location.longitude %>&key=<%=ENV["GOOGLE_MAP_KEY"]%>" allowfullscreen></iframe>
  <br><br>

  <!-- <p> Likes: secret.likes %> </p>
   button_to "Like", :method => 'PUT', :action => 'likes', :secret_id => secret.id -->

  <%= insert_a_new_secret_option(secret, secret.location) %> <br>
  <%= have_access_to_secrets?(secret) %>
  <hr>
</div>

<script type="text/javascript">
    $('body').on('submit','.new_secret', function(event) {
        //prevent form from submitting the default way
        event.preventDefault()

        let values = $(this).serialize()

        let posting = $.post('/secrets.json', values)

        posting.done(function(secret) {
          const newSecret = new Secret(secret['secret'])
          let html = newSecret.formatSecretAtLocation()
          $(`.location-${newSecret.location_id} .secrets`).append(html)
        }).fail(function(error){
          $('.secret_sentence').attr('placeholder', error.responseJSON.sentence[0]).css('border', '0.125rem solid red')
        })
        event.stopImmediatePropagation();
    })
</script>
