<!DOCTYPE html>
<script type="text/javascript">
    navigator.geolocation.getCurrentPosition(geolocationSuccess,geolocationError);
</script>

<html>
  <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
  <% end -%>
  <div id="location_errors">
    <% if @secret.errors.messages[:location].first %>
      <%= "Location is #{@secret.errors.messages[:location].first}"%>
    <% end %>
  </div>
  <div class="main" id="form">
    <h1> Do you have a secret? </h1>
    <%= form_for @secret, { :class => 'secret_sentence' } do |f| %>
    <%= f.text_field :sentence, { :class => 'secret_sentence', :type => "search", :placeholder => @secret.errors.messages[:sentence].first || @secret.errors.messages[:location].first || "Enter a secret"} %>
      <%= f.fields_for @secret.location do |p| %>
        <%= p.hidden_field :longitude %>
        <%= p.hidden_field :latitude %>
      <% end %>
    <% end %>
  </div><br>
  <%= link_to "See your secrets", user_secrets_path(current_user) %><br>
  <%= link_to "See the southest secret shared", locations_southest_path %>
  <%= link_to "See the northest secret shared", locations_northest_path %><br>
  <%= link_to "Logout", logout_path %>
</html>
