<h1>This secret has been shared with you:</h1>
<h2><%= @secret.returnSecret.sentence %></h2>
<!-- <p><%= @secret.sentence %></p> 
<p><%= @secret.returnSecret.latitude %></p>
<p><%= @secret.returnSecret.longitude %></p> -->

<iframe width="600" height="450" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?q=<%= @secret.returnSecret.latitude %>,<%= @secret.returnSecret.longitude %>&key=AIzaSyD_synucWlaMXTntufNH69zwfBjKMaTzT8" allowfullscreen></iframe>