<div class="main">
  <p>This secret has been shared with you:</p>
  <h1><%= @secret.sentence %></h2>
</div>

<p><%= @secret.sentence %></p>
<p><%= @secret.latitude %></p>
<p><%= @secret.longitude %></p>

<iframe width="600" height="450" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?q=<%= @secret.latitude %>,<%= @secret.longitude %>&key=AIzaSyD_synucWlaMXTntufNH69zwfBjKMaTzT8" allowfullscreen></iframe>
