<!DOCTYPE html>
<html>
  <div class="main">
    <p>This secret has been shared with you:</p>
    <h1><%= @secret.sentence %></h1>
  </div>

  <iframe width="600" height="450" frameborder="0" style="border:0"
<<<<<<< HEAD
  src="https://www.google.com/maps/embed/v1/place?q=<%= @secret.location.latitude %>,<%= @secret.location.longitude %>&key=<%= ENV['GOOGLE_MAP_KEY']%>" allowfullscreen></iframe>
=======
  src="https://www.google.com/maps/embed/v1/place?q=<%= @secret.location.latitude %>,<%= @secret.location.longitude %>&key=<%=ENV["GOOGLE_MAP_KEY"]%>" allowfullscreen></iframe>
>>>>>>> a81e4075776f48c67b27e2dcda10de7f811958cf

  <p> <%= link_to 'Delete', secret_path(@secret), method: :delete %> </p>
  <p> <%= link_to 'View my secrets', user_secrets_path(current_user) %></p>
  <p> <%= link_to 'View secrets shared with me', secrets_path %></p>
</html>
