<!DOCTYPE html>
<html>
  <div class="main">
    <p>This secret has been shared with you:</p>
    <h1><%= @secret.sentence %></h1>
  </div>

  <p><%= @secret.location.latitude %></p>
  <p><%= @secret.location.longitude %></p>

  <iframe width="600" height="450" frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?q=<%= @secret.location.latitude %>,<%= @secret.location.longitude %>&key=<%= ENV['GOOGLE_MAP_KEY']%>" allowfullscreen></iframe>

  <p> <%= link_to 'Delete', secret_path(@secret), method: :delete %> </p>
</html>
